.header{
    display: flex;
    width: 1052px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
}

.sections_links{
    display: flex;
    justify-content: space-evenly;
    min-width: 391.48px;
    font-size: 18px;
    line-height: 21px;
    gap: 13px;
}

.sections_links-item{
    text-decoration: underline;
    list-style: circle;
}

.main_page-link{
    list-style: none;
    text-decoration: none;
}

.logo{
    width: 148px;
    height: 105px;
    margin: 0 193.86px 0 36px ;
}

.contacts{
    flex-direction: column;
    order: 1;
    width: 240px;
    height: 98px;
    font-size: 18px;
    line-height: 24px;
}

.item-dashed{
    text-decoration: underline;
}

.contacts-item{
    list-style: none;
    white-space: wrap;                                                                                           ;
}

.cover{
    margin-bottom: 179px;
    height: 757px;
    display: flex;
}

.background-image{
    position: absolute;
    z-index: -2;
    width: 1100px;
    height: 757px;
}

.color{
    z-index: -1;
    position: absolute;
    width: 1100px;
    height: 757px;
    background-color: rgb(0 0 0 / 0.5);
}

.container{ 
    margin: 165px 50px 62px;
    text-align: center; 
    width: auto; 
    height: 100px;  
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    row-gap: 20px;
}

.words { 
    color: #fff; 
    text-transform: uppercase; 
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    letter-spacing: 30px;
}

.letter{
    display: flex;
    letter-spacing: 60px;
}

.word-3-letter{
    letter-spacing: 30px;
}

.title-word-1 { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2 
}

.title-word-2 { 
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3;
    margin-left: -100px;
}

.title-word-3 { 
    grid-column-start: 3; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4;
    margin-left: -135px;
    letter-spacing: 60px;
}

.buy-link-section{
    font-weight: 400;
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 4; 
    grid-row-end: 5;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 79px;
    padding: 0;
    margin: 0;
    margin-top: 147px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
    
}

.buy-link-text{
    word-spacing: 22px;
}

.buy-link-button{
    box-sizing: border-box;
    width: 256px;
    height: 51px;
    padding: 12px 32px 11px 31px;
    text-decoration: none;
    border: 1px solid white;
    margin-top: -13px;
}

.lots{
    max-width: 1052px;
    max-height: 692px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 148px;
}

.lots-cards-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.card{
    width: 334px;
    height: 556px;
    position: relative;
    display: flex;
}

.lot-image{
    width: 100%;
    height: 100%;
}

.card-text{
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0 0 0 / 0.5);
    height: 556px;
}

.lot-title{
    font-size: 22px;
    line-height: 26.4px;
    margin: 51px 40px 48px;

}

.lot-text{
    font-size: 20px;
    line-height: 24px;
    margin: 0 40px 48px;
}

.title-second{
    margin-bottom: 0;
}

.more{
    margin: 30px auto auto 40px;
    font-size: 20px;
    line-height: 24px;
}

.about{
    height: 595px;
    width: 1052px;
    display: flex;
    margin-bottom: 181px;
}

.about_logo{
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    margin-right: 0;
    padding-right:0 ;
    align-items: center;
    justify-content: center;
    margin-left: 47px;
}

.about_logo-image{
    margin: 0;
    padding: 0;
}

.about-information{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    height: 449px;
    width: 693px;
    margin-left: 72px;
    gap: 100px;
    margin-top: 100px;
}

.about-title{
    font-size: 40px;
    line-height: 46px;
}

.about_text-block{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_text-item{
    width: 693px;
    font-size: 20px;
    line-height: 24px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer-section-links{
    flex-direction: column;
    order: 1;
    gap: 0;
    text-align: center;
}

.footer-links-item{
    list-style: none;
}

.social_media{
    display: flex;
    order: 2;
    list-style: none;
    flex-direction: row;
    gap: 48px;
}

.social_media-item{
    width: 48px;
    height: 48px;
}